.container
	//- img(src='img/circular.svg')

	//- circle spinner

	.spinner
		p loading...
		#circleBounce
			.circle1
			.circle2
			.circle3
	//-
		.spinner
			ul#blockBounce
				li.block4
				li.block3
				li.block2
				li.block1
